{% extends 'base.html.twig' %}

{% block title %}TP Maçon!{% endblock %}

{% block body %}

	<div class:"photos">
  {# <img src=" {{asset('img/Salle de bain.jpg')}} " alt="Salle de bains"> #}
  <img src="{{asset('img/Salle de bain.jpg')}} " alt="Salle de bains" width="500" height="300" >
  <img src="{{asset('img/extension.jpg')}}" alt="Extensions" width="500" height="300">
  <img src="{{asset('img/chape fluide.jpg')}}" alt="Chapes fluide" width="500" height="300" >
  <img src="{{asset('img/terrasse.jpg')}}" alt="Terrasses" width="500" height="300">
  <img src="{{asset('img/Montage-cuisine-juin-23-663X441.jpg')}}" alt="Cuisines" width="500" height="300" >
  <img src="{{asset('img/carrelage.jpeg')}}" alt="Carrelages" width="500" height="300" >
  </div>



{% endblock %}
